<!-- Footer -->
<footer>
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="footer-content">
          <!-- WebGL Button -->
          <div class="footer-button">
            <a href="/contact.html" class="footer-inquiries-link">
              <div class="webgl-text-root inline scroll-variant">
                <h2 class="webgl-source">Inquiries</h2>
              </div>
            </a>
          </div>
          
          <!-- Copyright -->
          <div class="copyright">
            <div class="webgl-text-root inline scroll-variant text-right">
              <p class="subheading webgl-source">Copyright &copy; {{ site.author }} {{ 'now' | date: "%Y" }}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</footer>
