// Import Core Clean Blog SCSS
@import "../assets/vendor/startbootstrap-clean-blog/scss/styles.scss";

// Birds collection background positioning
@media (max-width: 700px) {
  .masthead.birds-collection {
    background-position: right -125px top 125px !important;
  }
  
  // Reduce navbar toggler padding on mobile to prevent wrapping
  .navbar-toggler {
    padding: 0.25rem 0.25rem !important;
  }
}

// Past Works collection - flip background horizontally
.masthead.past-works-collection {
  transform: scaleX(-1);
}

.masthead.past-works-collection > * {
  transform: scaleX(-1);
}

// Sets collection - align background to top
.masthead.sets-collection {
  background-position: center -200px !important;
}

@media (max-width: 1000px) {
  .masthead.sets-collection {
    background-position: center top !important;
  }
}
